.left {
  transform: translateX(-70%);
}

.right {
  transform: translateX(70%);
}

.left,
.right {
  transition: all 800ms ease-in;
  opacity: 0;
}

.left.appear,
.right.appear {
  transform: translateX(0);
  opacity: 1;
}

.up {
  transform: translateY(100%);
}

.down {
  transform: translateY(-200%);
}

.up,
.down {
  opacity: 0;
  transition: all 800ms;
}

.up.appear,
.down.appear {
  opacity: 1;
  transform: translateY(0);
}
