.footer {
  grid-column: 1/-1;
  padding: 5rem 0 0rem 0;
  background-color: $light-grey-color;
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--logo {
      width: 15rem;
      height: 8rem;
      margin-bottom: 1.7rem;
    }
    &--social {
      margin-top: 1.7rem;
    }
  }
}
.copy-right {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  background-color: $drak-grey-color;
  padding: 2rem 0;
  font-size: 1.4rem;
}
