.about__contenet--heading-1,
.about__contenet--heading-2 {
  font-family: $title-font;
  color: $blue-color;
  text-transform: uppercase;
}
.about__contenet--heading-1 {
  font-size: 2.8rem;
  order: 2;
  margin-top: 2rem;
}
.about__contenet--heading-2 {
  font-size: 2rem;
  order: 1;
}
